<ion-header>
  <ion-navbar>

    <ion-title text-center>Ingresar</ion-title>

    <ion-buttons end no-margin>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>
  <div class="std-form">
    <form *ngIf="isFormLoaded" [formGroup]="form" novalidate="novalidate" (ngSubmit)="signin()">
      <ion-list>

        <ion-item>
          <ion-input type="text" name="email" formControlName="email" placeholder="E-mail"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" name="password" formControlName="password" placeholder="Contraseña"></ion-input>
        </ion-item>

      </ion-list>
    </form>
  </div>
</ion-content>


<ion-footer class="call-to-action">
  <button ion-button full color="secondary" no-margin (click)="signin()" [disabled]="!form.valid" *ngIf="isFormLoaded">
    Ingresar
  </button>
</ion-footer>
