// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-app{
  background: none !important
}

ion-menu{
  img{
    display: block;
    width: 100%;
  }
  ion-list{
    padding-top: 10px;
    button{
      background: white !important;
      .item-inner{
        border: none !important
      }
    }
  }
}

ion-header{
  .toolbar-background{
    background: none;
  }
  &::after{
    content: none !important;
  }
  button[menutoggle]{
    margin-top: 6px;
    margin-bottom: 6px;
    height: 42px;
  }
  button.back-button{
    color: color($colors, primary, base);
  }
  ion-title .toolbar-title-md{
    font-size: 1.2em;
    font-weight: 400;
    color: $gray-4;
  }
  ion-buttons{
    width: 56px;
    ion-icon{
      color: $gray-4;
    }
  }
}

ion-segment.segment-md{
  ion-segment-button.segment-button{
    border-width: 3px;
    padding: 3px 0;
    height: auto;
    text-transform: none;
    font-size: 1em;
    color: $gray-3;

    &:not(.segment-activated){
      border-color: white !important;
      color: $gray-4;
    }
  }
}

ion-footer.call-to-action{
  button.button-md{
    margin: 0;
    height: 44px;
    font-weight: 400;
    font-size: 1.2em;
  }
}

// CUSTOM ======================================================================

// forms
.std-form{
  ion-list{
    padding-top: 20px;

    ion-item{
      margin: 6px 0 !important;
      padding: 0 16px;

      &,
      .item-inner{
        border: none !important;
        box-shadow: none !important;
      }
      ion-input,
      ion-textarea{
        border-bottom: 1px solid $gray-6;
      }

    }
  }
}
