<ion-menu [content]="content">
  <ion-content>

    <div class="user-panel">
      <div class="user-panel__Background" [ngStyle]="{'background-image' : 'url(assets/imgs/intro.jpg)'}"></div>
      <div class="user-panel__Profile" (click)="openPage(pages[4])" menuClose>
        <div class="image" [ngStyle]="{'background-image' : 'url(' + _globalProvider.thumbnail + ')'}"></div>
        <div class="information">
          <p>{{ _globalProvider.profile.name }}</p>
          <a>{{ _globalProvider.profile.email }}</a>
        </div>
      </div>
    </div>

    <ion-list>
      <button *ngFor="let data of pages"
               (click)="openPage(data)"
               menuClose ion-item color="light"
               [hidden]="_globalProvider.profile && _globalProvider.profile.user_type == 1 && data.user_type == 0"
               [hidden]="_globalProvider.profile && _globalProvider.profile.user_type == 0 && data.user_type == 1">
        {{ data.title }}
        <ion-badge item-end color="secondary" *ngIf="data.count">
          {{ data.count }}
        </ion-badge>
      </button>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
