<ion-content padding>

  <div class="is__Dismisser" (click)="dismiss()"></div>


  <ion-card>

    <ion-item padding-top>
      <ion-avatar item-start>
        <div class="image" [ngStyle]="{'background-image' : 'url(' + thumbnail + ')'}" *ngIf="thumbnail"></div>
      </ion-avatar>
      <h2 class="is__Name">{{ name }}</h2>
      <p class="is__Price" [class.invisible]="!price">$ {{ price }}</p>
    </ion-item>

    <ion-card-content *ngIf="role == 1; else commonUserCard">
      <ion-row>
        <ion-col col-8 class="is__Reputation" [class.invisible]="reputation == null">
          <ion-icon [name]="reputation >= 1 ? 'star' : 'star-outline'" color="danger"></ion-icon>
          <ion-icon [name]="reputation >= 2 ? 'star' : 'star-outline'" color="danger"></ion-icon>
          <ion-icon [name]="reputation >= 3 ? 'star' : 'star-outline'" color="danger"></ion-icon>
          <ion-icon [name]="reputation >= 4 ? 'star' : 'star-outline'" color="danger"></ion-icon>
          <ion-icon [name]="reputation >= 5 ? 'star' : 'star-outline'" color="danger"></ion-icon>
        </ion-col>
        <ion-col col-4>
          <button ion-button clear small (click)="openProfile()">
            Ver perfil
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ng-template #commonUserCard>
      <ion-card-content>
        <ion-row>
          <ion-col col-8 class="is__Reputation">
            <p>{{ '${ pets }' }} mascotas</p>
          </ion-col>
          <ion-col col-4>
            <button ion-button clear small (click)="openProfile()">
              Ver perfil
            </button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ng-template>

    <div class="loading" *ngIf="isLoadingProfile">
      <ion-spinner color="primary"></ion-spinner>
    </div>

  </ion-card>


</ion-content>
