//Fonts Home

@import url('https://fonts.googleapis.com/css?family=Lily+Script+One|Raleway');


page-home {

	.scroll-content {
		padding: 0!important;
	}

	#map{
    height: 100%;
  	}


	//Home Page
	.home__Content {
		background: #fff;
		height: 100%;

		.header {
			position: static;
			text-align: center;
			padding: 1em 0;
			background: white;
		}

		.is__Header {
			font-size: 25px;
			border-bottom: 1px solid whitesmoke;
			h1 {
				font-size: 28px;
			    color: #78cab4;
			    font-family: 'Karma', serif;
			    font-weight: 700;
				margin: 0;
			}
			.is__Subcontent {
				font-family: 'Raleway', sans-serif;
			}
		}
/*
		.is__Container {
			.__isLogo {
			  margin-top: 2em;
			  position: relative;
			  @import 'dog';
			}

			.is__Socials {
				position: absolute;
				bottom: 0;
				width: 100%;
				button {
					display: block;
					width: 90%;
					padding-top: 1em;
					padding-bottom: 1em;
					margin: 0.8em auto;
					height: 50px;
					box-shadow: none!important;
				}
				button.facebook {
					background: #3b5998;
				}
				button.google {
					background: #d9524f;
				}
				button.white {
					background: #fff;
					color: #5bc0de;
					border: 1px solid #dadada;
				}
			}
		}
*/
	}



}
