//Fonts Home

@import url('https://fonts.googleapis.com/css?family=Lily+Script+One|Raleway');


page-home {

	.scroll-content {
		padding: 0!important;
	}

	#map{
    height: 100%;
  	}


	//Home Page
	.home__Content {
		background: #fff;
		height: 100%;


		h1 {
			font-size: 36px;
	    color: color($colors, primary, base);
			text-transform: uppercase;
	    font-weight: 700;
			padding: 40px 0 0;
			text-align: center;
			filter: brightness(1.15);
			text-shadow: 0 1px 1px rgba(0,0,0,.2);
		}

		.is__Container {
			.__isLogo {
				position: relative;
			  height: 55vh;
				background-size: cover;
				background-position: bottom;
				background-image: url('../assets/imgs/intro.jpg');
				&:after{
					content:"";
					position: absolute;
			    height:100%;
			    width:100%;
			    top:0;
			    left:0;
			    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.2), white);
				}
			}
		}

		.is__Socials {
			position: absolute;
			bottom: 0;
			width: 100%;
			button {
				display: block;
				width: 90%;
				margin: 0.8em auto;
				/*
				height: 42px;
				box-shadow: 0 3px 6px
				*/
				height: 40px;
		    text-transform: none;
		    font-weight: 400;
		    font-size: 1.2em;
		    box-shadow: 0 1px 1px rgba(0,0,0,.15);
			}
			button.facebook {
				background: #3b5998;
			}
			button.google {
				background: #d9524f;
			}
			button.white {
				background: #FAFAFA;
				color: #333;
			}
			button[clear] {
				box-shadow: none;
				color: color($colors, primary, base);
				height: 50px;
			}
		}

	}

}
