page-walker-profile {

  .is__Header{
    display: flex;
    align-items: center;

    ion-avatar{
      position: relative;
      margin-top: 3px !important;
      margin-right: 3px !important;
      border-radius: 50%;
      background: $gray-6;
      width: 75px;
      min-width: 75px;
      height: 75px;
      min-height: 75px;

      .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
      }
    }

    .is__Name{
      font-weight: 400;
      margin-left: 22px;
      font-size: 1.5em;
    }
  }


  .is__Reputation{
    padding: 10px 16px 25px !important;

    ion-icon{
      font-size: 1.75em;
      margin-right: 6px;
    }
    p.is__Price{
      font-size: 2em;
      font-weight: 500;
      color: color($colors, primary, base);
    }
    span{
      margin-top: 6px;
      display: block;
      width: 100%;
    }
  }


  ion-segment{
    border-bottom: 1px solid #F1F1F1
  }


  .is__Body{
    padding: 6px 0;
  }

}
