<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<div id="map"></div>

<ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)"
  placeholder="Buscar paseador">
</ion-searchbar>

<div *ngIf="!globalProvider.isGeolocated || globalProvider.geolocationHasError || !isMapReady"
     class="map-data map-data--geolocating">
  <ion-icon name="locate"></ion-icon>
  <span *ngIf="!globalProvider.geolocationHasError">Buscando ubicación...</span>
  <span *ngIf="globalProvider.geolocationHasError">Error al localizar</span>
</div>

<div class="map-data map-data--walkers">
  <ion-icon name="pin"></ion-icon>
  <span>
    {{ walkersQty }}
  </span>
</div>

<button ion-button style="position:fixed;top:50%;left:0;" (click)="userPreviewTest()"></button>
