ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

page-map {
  ion-header{
    width: 68px;
    button[menutoggle]{
      background: color($colors, light, base) !important;
      box-shadow: 0 3px 10px rgba(0,0,0,.2)
    }
  }
  background: none !important;
  background: #DDD !important;
  ion-content{
    background: none !important;
  }

  #map{
    height: 100%;
  }

  ion-searchbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &.searchbar-md{
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 32px;
    }
    .searchbar-search-icon{
      color: color($colors, primary, base)
    }
  }

  .map-data {
    position: fixed;
    bottom: 80px;
    height: 45px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    ion-icon {
      font-size: 1.5em;
      text-shadow: 0 0 1px rgba(255,255,255,.25)
    }
    span {
      opacity: .8;
    }

    &--geolocating {
      left: 0;
      ion-icon {
        color: #4286f5;
      }
      span {
        margin-left: 1em;
      }
    }

    &--walkers {
      right: 0;
      ion-icon {
        color: color($colors, secondary, base)
      }
      span {
        margin-left: .85em
      }
    }
  }


}
