ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

page-map {
  ion-header{
    width: 68px;
    button[menutoggle]{
      background: color($colors, light, base) !important;
      box-shadow: 0 3px 10px rgba(0,0,0,.2)
    }
  }
  background: none !important;
  background: #DDD !important;
  ion-content{
    background: none !important;
  }

  #map{
    height: 100%;
  }

  ion-searchbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &.searchbar-md{
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 32px;
    }
    .searchbar-search-icon{
      color: color($colors, primary, base)
    }
  }

}
